@media screen and (max-width: 1200px){    
    .projectData1-1 span, .projectData1-2 span,
    .projectData1-3 span, .projectData1-4 span{     
        font-size: 18px;  
    }
    .projectData1-1 p, .projectData1-2 p,
    .projectData1-3 p, .projectData1-4  p{     
        font-size: 11px;
    }
    .th11,.th10,.td11, .td10{
        display: none;
    }
    .projectPendingData1{
        width: 100%;
    }
}
@media screen and (max-width: 1024px){
    .projectData1-1 span, .projectData1-2 span,
    .projectData1-3 span, .projectData1-4  span{     
        font-size: 17px;  
    }
    .projectData1-1 p, .projectData1-2 p,
    .projectData1-3 p, .projectData1-4  p{     
        font-size: 10px;
    }
    .gridOne{
        width: calc((100% - 40px)/2);
    }
    .th6, .td6{
        display: none;
    }
    .th3,.td3{
        display: none;
    } 
    .exportDiv{
        display: none;
    }
    .searchProject{
        width: 343px;
    } 
    .searchInput{
        width: 263px;
    }    
    .gridPendingOne{
        width:calc((100% - 40px)/2); 
    }   
    .gridPendingTwo{
        width:calc((100% - 40px)/2); 
    }
    .gridPendingJoined{
        width:calc((100% - 40px)/2); 
    }
}

@media screen and (max-width : 850px) {
    
    .th4,.td4{
        display: none;
    }
    .viewPart{
        flex-direction: column-reverse;
    }
    .searchProject{
        margin-top: 20px;
    }    
}

@media screen and (max-width : 768px) {
    .projectData1-4{
        display: none;
    }
    .main{
        margin-left: 0;
    }
    .header{
        display: none;
    }
    .header1{
        display: flex;   
    }
    .sidebar{
        display: none;
    }
    .projectData2{    
        width: 90%;
    }
    .th5,.td5{
        display: none;
    }
    .th8,.td8{
        display: none;
    }  
    .projectPendingMessage{
        width: 343px;
    }
    .projectPendingMessage1{        
        width: 230px;
    }
    .projectPendingMessage{
        align-self: center;
        margin-right: 0px;
    }
    
}

@media screen and (max-width : 580px) {  
    .gridOne{
        width: calc((100% - 20px));
    }      
    .th7,.td7{
        display: none;
    } 
    .searchFil{
        display: none;
    }
    .tableTh, .tableTd{
        padding-left: 16px;
    }
    .th2, .td2{
        flex:1;
        min-width: 194px;
        max-width: 200px;
        overflow: hidden;
    }     
    .gridPendingOne{
        width:calc(100% - 20px); 
    }   
    .gridPendingTwo{
        width:calc(100% - 20px); 
    }
    .gridPendingJoined{
        width:calc(100% - 20px); 
    }
}

@media screen and (max-width : 450px) { 
    .th1,.td1{
    display: none;
    } 
}
