
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.Task1{
    display: flex;
    height: 100%;
}
/*-----Sidebar----*/ 
.sidebar{        
    position: fixed;
    left: 0;
    width: 64px;   
    height: 100%;
    display: flex;
    flex-direction: column; 
    justify-content: space-between;  
}
.sidebar1{
    display: none;
}
.sidebarIconTop{
    width: 100%;
    display: flex;
    flex-direction: column;   
}
.sidebarIconPhoto{
    width: 40px;
    height: 40px;
    margin: 12px;
}
.sidebarIcons{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 40px; 
}
.sidebarIcon1, .sidebarIcon2, .sidebarIcon3,
.sidebarIcon4, .sidebarIcon5, .sidebarIcon6 {
    width: 64px;
    height: 56px;  
    display: flex; 
    justify-content: center;
    align-items: center;
}
.sidebarIconBottom{
    width: 100%;  
    width: 64px;
    height: 56px;
    display: flex; 
    justify-content: center;
    align-items: center;
    margin-bottom: 14px;
}
/*-----main----*/ 
.main{   
    width: 100%;   
    height: 100%;  
    display: flex;
    flex-direction: column;    
    margin-left: 64px;  
}
.header{
    width: 100%;    
    height:56px;
    display: flex;     
    justify-content: space-between; 
    position: fixed;
    background: #FFFFFF;
}

.myProject{ 
    width: 106px;
    height: 24px;
    margin-left: 20px;
    display: flex;
    align-self: center;
}
.myProject span{    
    display: flex;
    flex-direction: row;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
}
.createProjectMain{
    display: flex;
    align-self: center;
}
 .createProject{
    width: 158px;
    height: 36px;
    background: #ECECEC;
    border-radius: 8px;
    border: none;
    display: flex;
    align-items: center;
    margin-right: 12px;
}
.createIcon{
    margin-left: 13px;   
}
.createIcon span{
    font-size: 15px;
}
.createText{
    margin-left: 9px;
}
.createText span{
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
}
.searchProject{
    width: 400px;
    background: #FFFFFF;
    border: 1px solid #CFD8DC;
    box-sizing: border-box;
    border-radius: 4px;  
    display: flex; 
    flex-direction: row;    
    margin-right: 24px;
    justify-content: start;
    align-items: center;
}
.searchIcon{ 
    margin-left: 14px;
    display: flex; 
    justify-content: center;
}
.searchIcon span{ 
    font-size: 20px;   
}
.searchInput{
    width: 320px;
    height: 20px;
    margin-left: 11px;     
    display: flex;
    justify-content: start;
    color: rgb(131, 97, 97);
    border: none;    
    font-family: 'Roboto';  
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
}
.notificationIcon{
    width: 15px;
    height: 19px;
    display: flex;
    justify-content: center;
    align-self: center;
    margin-right: 84px;
}
.redNotification{
    width: 12px;
    height: 12px;
    position: absolute;
    background-color: #FF0000;
    right: 80px;
    top: 16px;
    border-radius: 50%;
    box-shadow: 0px 0px 4px rgba(255, 0, 0, 0.4);;
}
.projectType{
    width: 100%;
    height: 48px;
    display: flex;
    flex-direction: row;
    background: #FFFFFF;
}
.active{
    width: 167px;
    height: 44px;
    margin-left: 12px;
    border: none;
    border-bottom: 4px solid #569AFF;
    background-color: white;
    padding: 12px 8px ;
    display: flex;
    text-decoration: none;
}
.active span{
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #212121; 
}

.pending{
    width: 172px;
    height: 44px;
    margin-top: 4px;
    margin-left: 8px;
    display: flex;
    flex-direction: row;
    background: #FFFFFF;       
    border: none;     
}
.pendingButton{
    width: 124px;
    height: 20px;
    margin-top: 12px;
    margin-left: 8px;
}
.pendingButton a{
    text-decoration: none;
}
.pending span{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #6A6A6A;
}
.pendingCounter{
    width: 24px;
    height: 24px;
    margin-top: 10px;
    margin-left: 8px;
    background: #FF0000;
    border-radius: 50%;
    box-shadow: 0px 0px 4px rgba(255, 0, 0, 0.4);    
    justify-content: center;
    font-family: SF Pro Text;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
}

.header1{
    width: 100%;       
    height:56px;  
    display: none;
    display: flex;
    align-content: center;
    justify-content: space-between;
    position: fixed;
    left:0;
    display: none;
    background: #FFFFFF;
}
.myProject1{    
    width: 75px;
    height: 24px;
    margin-left: 19px;
    align-self: center;
    display: flex;
}
.myProject1Text1{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    display: flex;
    align-items: center;
    margin-left: 35px;
}
.notificationIcon1{
    width: 15px;
    height: 19px;
    display: flex;
    justify-content: center;
    align-self: center;
    margin-right: 20px;
}
.redNotification1{
    width: 12px;
    height: 12px;
    position: absolute;
    background-color: #FF0000;
    right: 16px;
    top: 16px;
    border-radius: 50%;
    box-shadow: 0px 0px 4px rgba(255, 0, 0, 0.4);;
}
.content{  
    width: 100%;
    margin-top: 56px;
    display: flex;
    background-color: #E5E5E5;
    flex-direction: column;
    font-size: 16px;

}
/*------viewPart-----*/

.viewPart{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;    
}
.viewType{
    width: 400px;
    height: 36px;
    margin-left: 20px;
    margin-top: 24px;
    background: #ECECEC;
    border-radius: 8px;
    display: flex;   
    flex-direction: row;
    align-items: center;
}
.exportDiv{
    width: 101px;
    height: 36px;    
    margin-top: 26px;
    margin-right:20px;
    display: flex;
    align-items: center;
    border: 2px solid #CFD8DC;
    box-sizing: border-box;
    border-radius: 8px;
}
.expIcon{
    margin-left: 10px;
    font-size: 13px;
}
.exportDiv .text{    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #212121;
    margin-left: 10px;
}
.gridView{
    width: 91px;
    height: 36px;
    display: flex;
    align-items: center;
    flex-direction: row;
    border-radius: 8px;  
    background: #569AFF;
    border-style: none;
}
.gridIcon{
    margin-left: 15px;
}
.gridIcon span{
    color: white;
}
.gridText{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
}
.tableView{
    width: 102px;
    height: 36px;
    display: flex;
    flex-direction: row;
    align-items:center ;    
    justify-content: space-around;
    border-radius: 8px;
    background: #ECECEC;     
    border-style: none;
}
.tableIcon{
    width: 14.25px;
    height: 13.5px;
    display: flex;
    align-items: center;
}
.tableText{
    width: 48px;
    height: 20px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;    
    color: #212121;
}
.timelineIcon{
    margin-left: 13px;
    margin-top: 6px;
}
.timelineIcon span{
    width: 15px;
    height: 4px;
}
.timelineText{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    color: #212121;    
    margin-left: 13px;    
}
.mapIcon{
    width: 13px;
    height: 13px;
    display: flex;    
    margin-left: 30px;
    margin-bottom: 4px;    
}
.mapIcon span{
    font-size: 16px !important;

}
.mapText{
    width: 34px;
    height: 20px;  
    font-family: 'Roboto';    
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    margin-left: 10px;
}
/*----- Grid -----*/

.contentForGrid{
    width: 100%; 
    display: flex; 
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start;
    align-items: center;
    background: #E5E5E5;
    padding: 24px 10px 0 10px;
    box-sizing: border-box;
}
.gridOne{
    width: calc((100% - 60px)/3); 
    margin-bottom: 20px;
    margin-right: 10px;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    background: #FFFFFF;
    border: 1px solid #EAEDF0;    
    border-radius: 4px;
    justify-content: space-around;
    padding: 16px 16px 0 16px;
    box-sizing: border-box;
    
}
.projectGrid{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.projectGridLeft{
    display: flex;
}
.gridIcon0{
    width: 40px;
    height: 40px;
    background: #000000;
    display: flex;
    border-radius: 8px;
    justify-content: center;
    align-items: center;
}
.gridIcon1{
    width: 30px;
    height: 30px;   
}
.gridAbout{
    display: flex;
    flex-direction: column; 
    margin-top: 2px;
    margin-left: 12px;
}
.gridAbout1{ 
    font-family: 'Roboto';  
    font-style: normal;
    font-weight: 500;
    font-size: 16px;    
    line-height: 20px;
}
.gridAbout2{ 
    font-family: 'Roboto';  
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    color: #9C9C9C;
    margin-top: 4px;
}
.gridIcon2{
    margin-top: 4px;
    margin-right: 10px;
}
.gridIcon2 span{    
    width: 4px;
    height: 16px;
}
.projectData1{
    display: flex;
    padding: 20px 3px 12px 0px;
    justify-content: space-between;
}
.projectData2{    
    width: 60%;
    display: flex;
    flex-direction: row;
    padding-top: 12px;
    padding-bottom: 15px;
    justify-content: space-between;
}
.projectData1-1 span,.projectData1-2 span,
.projectData1-3 span, .projectData1-4  span{     
    font-family: 'Roboto';  
    font-style: normal;
    font-weight: 500;
    font-size: 20px;    
    line-height: 24px;
    display: flex;
    color: #212121;
}
.projectData1-1 p,.projectData1-2 p,
.projectData1-3 p, .projectData1-4  p{     
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    color: #6A6A6A;
}
.projectData1-1{
    display: flex;
    flex-direction: column;
}
.projectData1-2{
    display: flex;
    flex-direction: column;
}
.projectData1-3{
    display: flex;
    flex-direction: column;
}
.projectData1-4{
    display: flex;
    flex-direction: column;
}
.projectData2-1,
.projectData2-2,
.projectData2-3,
.projectData2-4{
    display: flex;
    flex-direction: row;    
    align-content: stretch;
}
.projectData2 .material-icons{
    color: #9C9C9C;
}
.projectData2-4 .material-icons{
    color: #BFC7F0;
}
.projectDataLine{
    border: 1px solid #EAEDF0;
}
.projectData2-1 .material-icons{
    font-size: 15px;
}
.projectData2-2 .material-icons{
    font-size: 15px;
}
.projectData2-3 .material-icons{
    font-size: 16.5px;
}
.projectData2-4 .material-icons{
    font-size: 15px;
}
.spanData2{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    display: flex;
    color: #9C9C9C;
}
/*---- Grid Pending----*/

.gridPendingOne{    
    width: calc((100% - 60px)/3); 
    margin-bottom: 20px;
    margin-right: 10px;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    background: #FFFFFF;
    border: 1px solid #EAEDF0;    
    border-radius: 4px;
    justify-content: space-around;
    padding: 16px 16px 0 16px;
    box-sizing: border-box;

}
.projectPendingGrid{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: start;
}
.gridPendingIcon0{
    width: 40px;
    height: 40px;
    background: #000000;
    display: flex;
    border-radius: 8px;
    justify-content: center;
    align-items: center;
}
.gridPendingIcon1{
    width: 30px;
    height: 30px;   
}
.gridPendingAbout{
    display: flex;
    flex-direction: column; 
    margin-top: 2px;
    margin-left: 12px;
}
.gridPendingAbout1{ 
    font-family: 'Roboto';  
    font-style: normal;
    font-weight: 500;
    font-size: 16px;    
    line-height: 20px;
}
.gridPendingAbout2{ 
    font-family: 'Roboto';  
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    color: #9C9C9C;
    margin-top: 4px;
}
.gridPendingIcon2{
    margin-top: 4px;
    margin-right: 10px;
}
.gridPendingIcon2 span{    
    width: 4px;
    height: 16px;
}
.projectPendingData1{
    width: 80%;
    display: flex;
    padding: 20px 3px 12px 0px;
    justify-content: space-between;
}
.projectPendingData2{    
    width: 63%;
    display: flex;
    flex-direction: row;
    padding-top: 12px;
    padding-bottom: 15px;
    justify-content: space-between;
}
.projectPendingData1-1 span,.projectPendingData1-2 span,
.projectPendingData1-3 span{     
    font-family: 'Roboto';  
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    display: flex;
    color: #212121;
}
.projectPendingData1-1 p,.projectPendingData1-2 p,
.projectPendingData1-3 p{     
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    color: #6A6A6A;
    margin-top: 4px;
}
.projectPendingData1-1{
    display: flex;
    flex-direction: column;
}
.projectPendingData1-2{
    display: flex;
    flex-direction: column;
}
.projectPendingData1-3{
    display: flex;
    flex-direction: column;
}
.projectPendingData2-1,
.projectPendingData2-2,
.projectPendingData2-3,
.projectPendingData2-4{
    display: flex;
    flex-direction: row;  
}
.projectPendingData2 .material-icons{
    color: #9C9C9C;
}
.projectPendingData2-4 .material-icons{
    color: #BFC7F0;
}
.projectPendingDataLine{
    border: 1px solid #EAEDF0;
}
.projectPendingData2-1 .material-icons{
    font-size: 15px;
}
.projectPendingData2-2 .material-icons{
    font-size: 15px;
}
.projectPendingData2-3 .material-icons{
    font-size: 16.5px;
}
.projectPendingData2-4 .material-icons{
    font-size: 15px;
}
.spanData2{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    display: flex;
    color: #9C9C9C;
}
.projectPendingData3{
    display: flex;
    padding: 20px 0 16px;
    justify-content: space-between;
}
.projectPendingData3
.projectPendingData3-1 span{    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;
    color: #6A6A6A;
}
.projectPendingData3-btn1{
    width: 48px;
    height: 20px;
    border: none;
}
.projectPendingData3-btn2 {
    width: 48px;
    height: 20px;
    border: none;
    margin-left: 24px;
}
.projectPendingData3-btn1 span{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    justify-content: center;
    color: #2DB342;
    background-color: #FFFFFF;
}
.projectPendingData3-btn2 span{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    justify-content: center;
    color: #FF0000;
    background-color: #FFFFFF;
}

/*-----Table----*/

.contentForTable{
    width: 100%;
    display: flex;
    flex-direction: column;
    border:0.5px solid blue;
    border: 1px solid #EAEDF0;
    box-sizing: border-box;
    margin-top: 26px;
}
.searchFil{
    width: 100%;
    height: 56px;
    display: flex;
    padding: 10px 20px 10px 30px;
    justify-content: space-between;
    background-color: #FFFFFF;;
}
.searchFilter{
    display: flex;
}

.searchFilterIcon{
    margin-top: 14px;
}
.searchFilterInput{
    margin-left: 56px;
    margin-top: 10px;
    border: none;
}
.searchFilterInput::placeholder{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;
    color: #9C9C9C;
}
.selectButton{    
    width: 270px;
    height: 36px;
    padding: 2px 16px;
    display: flex;
    justify-content: space-between;
    background: #ECECEC;
    border-radius: 4px;
    border: none;
}
.selectTextButton{   
    width: 238px;
    height: 32px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.selectTextButton span{
    font-family: 'Roboto';  
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    margin-top:2px ;
    margin-left: 16px;
    line-height: 20px;
}
.contentTable{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.tableTh{    
    width: 100%;    
    height: 56px;
    display: flex;    
    justify-content: space-between;
    background: #FFFFFF;
    border: 1px solid #EAEDF0;     
    padding: 18px 0 18px 32px; 
}
.tableTd{
    width: 100%;
    height: 52px;
    display: flex;
    justify-content: space-between;
    background: #FFFFFF;
    border: 1px solid #EAEDF0;     
    padding: 16px  0 16px 32px; 
}
.th{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;
    color: #000000;
}

.th1{
    display: flex;
}
.th1 .material-icons{
    color: #9C9C9C;
}
.td{
    font-family: 'Roboto'; 
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;
    color: #212121;
}
.tdName .td{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;
    color: #000000;    
}

.tableTh div{
    flex:1; 
    height: 20px;   
}
.tableTd div{
    flex:1;
    height: 20px;
}
.th1, .td1{
    flex:1;    
    min-width: 45px;
    max-width: 35px;
}
.th2, .td2{
    flex:1;
    min-width: 260px;
    max-width: 270px;
    overflow: hidden;
}
.th3, .td3{
    flex:1;
    min-width: 88px;
    max-width: 100px;
    overflow: hidden;
}
.th4, .td4{
    flex:1;
    min-width: 65px;
    max-width: 75px;
    overflow: hidden;
}
.th5, .td5{
    flex:1;
    min-width: 107px;
    max-width: 115px;
    overflow: hidden;
}
.th6, .td6{
    flex:1;
    min-width: 105px;
    max-width: 115px;
    overflow: hidden;
}
.th7, .td7{
    flex:1;
    min-width: 91px;
    max-width: 95px;
    overflow: hidden;
}
.th8, .td8{
    flex:1;
    min-width: 91px;
    max-width: 95px;
    overflow: hidden;
}
.th9, .td9{
    flex:1;
    min-width: 102px;
    max-width: 110px;
    overflow: hidden;
}
.th10, .td10{
    flex:1;
    max-width: 70px;
    overflow: hidden;
}
.th11, .td11{
    flex:1;
    max-width: 70px;
    overflow: hidden;
}
.contentForTable{
    display: none;

}